<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Translator</title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "chosen", :media => "all" %>
    <%= stylesheet_link_tag "bootstrap", :media => "all" %>
    
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "bootstrap" %>
    <%= javascript_include_tag "chosen" %>
    <%= javascript_include_tag "jquery.autosize-min" %>
    <%= javascript_include_tag "translator" %>
    
  </head>
  <body>
    <%= yield %>
  </body>
</html>
